{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Family Tree - Login{% endblock %}

{% block page_content %}
<style>

body{  font-family: 'Raleway';
        background-color: #344a72;
        line-height: 1.8em;
        color: white;
        align-content: center;
}


</style>


<main>
    <div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
</div>
</main>

{% endblock %}
