{% extends "bootstrap/base.html" %}

{% block title %}Family Tree{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style_base.css') }}">-->
{% endblock %}

{% block navbar %}
<style>
    .navbar {
        overflow: hidden;
        background-color: #333;
    }

    ul li {
        display: inline-block;
    }

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover,
    .dropdown:hover .dropbtn {
        background-color: blue;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<nav class="navbar">
    <div class = "navbar-container">
            <ul class="navbar-left" style="float: left">
                <li><a class="logo" href="{{ url_for('main.index') }}">FT</a></li>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.index') }}">Discover</a></li>
                <li><a href="{{ url_for('main.index') }}">Learn</a></li>
            </ul>
            <ul class="navbar-right" style="float:right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.index') }}">Dashboard</a></li>
                    <div class="dropdown">
                        <li><button class="dropbtn">Account
                            <i class="fa fa-caret-down"></i>
                        </button></li>
                        <div class="dropdown-content">
                            <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                            <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        </div>
                    </div>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
                    </div>
                </li>
            </ul>
    <div >
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}

{% block page_content %}
 <main></main>   
{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
