{% extends "base.html" %}

{% block title %}Family Tree{% endblock %}

{% block page_content %}
<!-- <h4>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h4> -->
<main>
<div class="presentation">
    <h4>Share with your family your thoughts, images and memories</h4>
    <h2>FOR GENERATIONS</h2>
    <button type="button">Start now</button>
</div>


<div class="bottom images">

</div>

</main>

<footer>
    <h6>Developed by @Jhonathan - 2021</h6>
</footer>
{% endblock %}
